# SecretStore for Infisical provider
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: {{ .Values.secretStore.name }}
  namespace: {{ .Values.namespace }}
spec:
  provider:
    infisical:
      hostAPI: http://svc-infisical.{{ .Values.infisical.namespace }}.svc.{{ .Values.dnsDomain }}:8080
      auth:
        universalAuthCredentials:
          clientId:
            name: {{ .Values.credentials.secretName }}
            namespace: {{ .Values.namespace }}
            key: clientId
          clientSecret:
            name: {{ .Values.credentials.secretName }}
            namespace: {{ .Values.namespace }}
            key: clientSecret
      secretsScope:
        projectSlug: {{ .Values.infisical.projectSlug }}
        environmentSlug: {{ .Values.infisical.environment }}
        secretsPath: /
