apiVersion: v1
kind: Service
metadata:
  name: svc-gitlab-postgresql
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: gitlab-postgresql
    app.kubernetes.io/component: database
spec:
  type: ClusterIP
  ports:
    - name: postgresql
      port: 5432
      targetPort: 5432
      protocol: TCP
  selector:
    app.kubernetes.io/name: gitlab-postgresql
