apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab-minio
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: gitlab-minio
    app.kubernetes.io/component: object-storage
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: gitlab-minio
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gitlab-minio
        app.kubernetes.io/component: object-storage
    spec:
      automountServiceAccountToken: false
      containers:
        - name: minio
          image: {{ .Values.image }}
          args:
            - server
            - /data
            - --console-address
            - ":9001"
          env:
            - name: MINIO_ROOT_USER
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.rootSecretName }}
                  key: username
            - name: MINIO_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.rootSecretName }}
                  key: password
          ports:
            - name: api
              containerPort: 9000
              protocol: TCP
            - name: console
              containerPort: 9001
              protocol: TCP
          volumeMounts:
            - name: data
              mountPath: /data
          livenessProbe:
            httpGet:
              path: /minio/health/live
              port: 9000
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /minio/health/ready
              port: 9000
            initialDelaySeconds: 10
            periodSeconds: 5
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: pvc-gitlab-minio
