apiVersion: v1
kind: Service
metadata:
  name: svc-gitlab-minio
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: gitlab-minio
    app.kubernetes.io/component: object-storage
spec:
  type: ClusterIP
  ports:
    - name: api
      port: 9000
      targetPort: 9000
      protocol: TCP
    - name: console
      port: 9001
      targetPort: 9001
      protocol: TCP
  selector:
    app.kubernetes.io/name: gitlab-minio
