# =============================================================================
# Verify Helm releases in a namespace
# =============================================================================
# Params:
#   - helm_namespace: Namespace to list Helm releases
# =============================================================================

- name: Verify Helm releases
  command: helm list -n {{ helm_namespace }}
  register: helm_list
  changed_when: false

- name: Print Helm releases
  debug:
    msg: "{{ helm_list.stdout_lines }}"
