# =============================================================================
# EXTERNAL SECRETS FOR VAULT (from Vault)
# =============================================================================

{{- range $secret := .Values.eso.secrets }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secret.external_secret_name }}
  namespace: {{ $.Values.namespace }}
spec:
  refreshInterval: {{ $secret.refresh_interval }}
  secretStoreRef:
    kind: SecretStore
    name: {{ $.Values.eso.secretStoreName }}
  target:
    name: {{ $secret.target_secret_name }}
  dataFrom:
    - extract:
        key: {{ $.Values.eso.kvEnginePath }}/data{{ $secret.vault_path }}
{{- end }}
