apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-lh-gitlab-minio-data
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: {{ .Values.storageClass }}
  resources:
    requests:
      storage: {{ .Values.storageSize }}

