# =============================================================================
# EXTERNAL SECRETS FOR VAULT (from Vault)
# =============================================================================

{{- range $secret := .Values.eso.secrets }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secret.name }}
  namespace: {{ $.Values.namespace }}
spec:
  refreshInterval: 1m
  secretStoreRef:
    kind: SecretStore
    name: {{ $.Values.eso.secretStoreName }}
  target:
    name: {{ $secret.target_secret }}
  dataFrom:
    - extract:
        key: {{ $.Values.vault.kvMountPath }}/data/{{ $secret.vault_path }}
{{- end }}
