apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "1.2.3.4"
  bindPort: 6443
nodeRegistration:
  criSocket: "unix:///var/run/containerd/containerd.sock"
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "v1.34.0"
controlPlaneEndpoint: "1.2.3.4:6443"
apiServer:
  extraArgs:
    - name: service-node-port-range
      value: 1-50000
  certSANs: ["1.2.3.4", "localhost", "127.0.0.1"]
networking:
  serviceSubnet: "10.128.0.0/12"
  podSubnet: "10.64.0.0/10"
  dnsDomain: "cluster.local"
controllerManager:
  extraArgs:
    - name: allocate-node-cidrs
      value: "false"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
cgroupDriver: systemd
containerLogMaxSize: 100Mi
containerLogMaxFiles: 5
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: ipvs # iptables, ipvs, nftables
# iptables:
#   minSyncPeriod: 1s
#   syncPeriod: 30s

# --allocate-node-cidrs=false/true
# --cluster-cidr=x.x.x.x/y <- должен совпадать с podSubnet
# --node-cidr-mask-size-ipv4 = 24 (Default)
# --node-cidr-mask-size-ipv6 = 64 (Default)

# ---------
# All configs
# Which use in 'kubeadm init ...' = ClusterConfiguration, KubeProxyConfiguration, KubeletConfiguration
# ---------
# ---
# apiVersion: kubeadm.k8s.io/v1beta4
# kind: InitConfiguration
# ---
# apiVersion: kubeadm.k8s.io/v1beta4
# kind: ClusterConfiguration
# ---
# apiVersion: kubelet.config.k8s.io/v1beta1
# kind: KubeletConfiguration
# ---
# apiVersion: kubeproxy.config.k8s.io/v1alpha1
# kind: KubeProxyConfiguration
# ---
# apiVersion: kubeadm.k8s.io/v1beta4
# kind: JoinConfiguration
# ---
# apiVersion: kubeadm.k8s.io/v1beta4
# kind: ResetConfiguration
# ---
# apiVersion: kubeadm.k8s.io/v1beta4
# kind: UpgradeConfiguration
