apiVersion: v1
kind: Service
metadata:
  name: svc-gitlab-minio
  namespace: {{ .Values.namespace }}
spec:
  type: ClusterIP
  selector:
    app-key: gitlab-minio
    app-env: prod
  ports:
    - port: 9000
      targetPort: 9000
      protocol: TCP
      name: api
    - port: 9001
      targetPort: 9001
      protocol: TCP
      name: console
