# =============================================================================
# SECRET STORE FOR HAPROXY (from Vault)
# =============================================================================

apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: {{ .Values.eso.secretStoreName }}
  namespace: {{ .Values.namespace }}
spec:
  provider:
    vault:
      server: http://vault.{{ .Values.vault.namespace }}.svc.{{ .Values.clusterDomain }}:8200
      path: {{ .Values.eso.kvEnginePath }}
      version: v2
      auth:
        kubernetes:
          mountPath: kubernetes
          role: {{ .Values.eso.roleName }}
          serviceAccountRef:
            name: {{ .Values.eso.saName }}
