# Custom default settings
defaultSettings:
  defaultDataLocality: "best-effort"
  defaultReplicaCount: 2
  defaultLonghornStaticStorageClass: "longhorn-static"
  disableRevisionCounter: '{"v1":"true"}'
  allowCollectingLonghornUsageMetrics: false
  systemManagedPodsImagePullPolicy: "IfNotPresent"
  snapshotDataIntegrity: "enabled"
  backupExecutionTimeout: 15
  backupCompressionMethod: "gzip"
  storageMinimalAvailablePercentage: 5
  storageReservedPercentageForDefaultDisk: 5
  priorityClass: "longhorn-critical"
  disableSchedulingOnCordonedNode: true
  replicaAutoBalance: "best-effort"
  removeSnapshotsDuringFilesystemTrim: true
  nodeDownPodDeletionPolicy: "do-nothing"
  nodeDrainPolicy: "block-for-eviction"
# StorageClass settings
persistence:
  defaultClassReplicaCount: 2
longhornUI:
  replicas: 1
  affinity: {}
networkPolicies:
  enabled: true
  type: "k3s"