apiVersion: v1
kind: ConfigMap
metadata:
  name: longhorn-default-resource
  namespace: longhorn-system
  labels:
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/version: v1.10.1
data:
  default-resource.yaml: |-
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: longhorn-default-setting
  namespace: longhorn-system
  labels:
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/version: v1.10.1
data:
  default-setting.yaml: |-
    default-data-locality: "best-effort"
    default-replica-count: 2
    default-longhorn-static-storage-class: "longhorn-static"
    disable-revision-counter: "{\"v1\":\"true\"}"
    allow-collecting-longhorn-usage-metrics: false
    system-managed-pods-image-pull-policy: "always"
    snapshot-data-integrity: "enabled"
    backup-execution-timeout: 15
    backup-compression-method: "gzip"
    storage-minimal-available-percentage: 5
    storage-reserved-percentage-for-default-disk: 5
    priority-class: "longhorn-critical"
    disable-scheduling-on-cordoned-node: false
    replica-auto-balance: "best-effort"
    remove-snapshots-during-filesystem-trim: true
    node-down-pod-deletion-policy: "delete-both-statefulset-and-deployment-pod"
    node-drain-policy: "block-for-eviction"
---
# Source: longhorn/templates/storageclass.yaml
apiVersion: v1
kind: ConfigMap
metadata:
  name: longhorn-storageclass
  namespace: longhorn-system
  labels:
    app.kubernetes.io/name: longhorn
    app.kubernetes.io/instance: longhorn
    app.kubernetes.io/version: v1.10.1
data:
  storageclass.yaml: |
    kind: StorageClass
    apiVersion: storage.k8s.io/v1
    metadata:
      name: longhorn
      annotations:
        storageclass.kubernetes.io/is-default-class: "true"
    provisioner: driver.longhorn.io
    allowVolumeExpansion: true
    reclaimPolicy: "Delete"
    volumeBindingMode: Immediate
    parameters:
      numberOfReplicas: "2"
      staleReplicaTimeout: "30"
      fromBackup: ""
      fsType: "ext4"
      dataLocality: "disabled"
      unmapMarkSnapChainRemoved: "ignored"
      disableRevisionCounter: "true"
      dataEngine: "v1"
      backupTargetName: "default"

