# =============================================================================
# ESO FOR ARGOCD SSH REPO-CREDS (from Vault)
# =============================================================================

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.eso.saName }}
  namespace: {{ .Values.namespace }}

---
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: {{ .Values.eso.secretStoreName }}
  namespace: {{ .Values.namespace }}
spec:
  provider:
    vault:
      server: http://vault.{{ .Values.vault.namespace }}.svc.{{ .Values.clusterDomain }}:8200
      path: {{ .Values.eso.kvEnginePath }}
      version: v2
      auth:
        kubernetes:
          mountPath: kubernetes
          role: {{ .Values.eso.roleName }}
          serviceAccountRef:
            name: {{ .Values.eso.saName }}

{{- range $secret := .Values.eso.secrets }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ $secret.external_secret_name }}
  namespace: {{ $.Values.namespace }}
spec:
  refreshInterval: {{ $secret.refresh_interval }}
  secretStoreRef:
    kind: SecretStore
    name: {{ $.Values.eso.secretStoreName }}
  target:
    name: {{ $secret.target_secret_name }}
    template:
      engineVersion: v2
      metadata:
        labels:
          argocd.argoproj.io/secret-type: repo-creds
      data:
        type: git
        url: "{{ $.Values.gitlab.internalUrl }}"
        sshPrivateKey: "{{ "{{" }} .ssh_private_key {{ "}}" }}"
  data:
    - secretKey: ssh_private_key
      remoteRef:
        key: "{{ $.Values.eso.kvEnginePath }}/data{{ $secret.vault_path }}"
        property: ssh_private_key
{{- end }}
