# =============================================================================
# ARGOCD PROJECTS AND APPLICATIONS
# =============================================================================

---
# Root project - FULL permissions for app-of-apps
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: root-app-of-apps
  namespace: "{{ .Values.namespace }}"
spec:
  sourceRepos:
    {{- toYaml .Values.gitOps.project.sourceRepos | nindent 4 }}
  sourceNamespaces:
    - "*"
  destinations:
    {{- toYaml .Values.gitOps.project.destinations | nindent 4 }}
  # No cluster-resources (only namespace-resources)
  clusterResourceBlacklist:
    - group: "*"
      kind: "*"
  # Allow only namespace-resources - AppProject | Application
  namespaceResourceBlacklist:
    - group: "argoproj.io"
      kind: "AppProject"
    - group: "argoproj.io"
      kind: "Application"

---
# Root application (app-of-apps)
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: "root-app-of-apps"
  namespace: "{{ .Values.namespace }}"
  finalizers:
    - resources-finalizer.argocd.argoproj.io/background
spec:
  project: "root-app-of-apps"
  revisionHistoryLimit: 3
  source:
    repoURL: "{{ .Values.gitOps.app.repoURL }}"
    targetRevision: "{{ .Values.gitOps.app.targetRevision }}"
    path: "{{ .Values.gitOps.app.path }}"
  destination:
    server: "{{ .Values.gitOps.app.destinationServer }}"
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: true
    syncOptions:
      - SkipDryRunOnMissingResource=true
      - ApplyOutOfSyncOnly=true
      - PrunePropagationPolicy=background
    retry:
      limit: "{{ .Values.gitOps.retry.limit }}"
      backoff:
        duration: "{{ .Values.gitOps.retry.backoff.duration }}"
        factor: "{{ .Values.gitOps.retry.backoff.factor }}"
        maxDuration: "{{ .Values.gitOps.retry.backoff.maxDuration }}"
