apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitlab-redis
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: gitlab-redis
    app.kubernetes.io/component: cache
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app.kubernetes.io/name: gitlab-redis
  template:
    metadata:
      labels:
        app.kubernetes.io/name: gitlab-redis
        app.kubernetes.io/component: cache
    spec:
      automountServiceAccountToken: false
      containers:
        - name: redis
          image: {{ .Values.image }}
          args:
            - --requirepass
            - $(REDIS_PASSWORD)
          env:
            - name: REDIS_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.credentialsSecretName }}
                  key: password
          ports:
            - name: redis
              containerPort: 6379
              protocol: TCP
          livenessProbe:
            exec:
              command:
                - redis-cli
                - -a
                - $(REDIS_PASSWORD)
                - ping
            initialDelaySeconds: 30
            periodSeconds: 10
          readinessProbe:
            exec:
              command:
                - redis-cli
                - -a
                - $(REDIS_PASSWORD)
                - ping
            initialDelaySeconds: 5
            periodSeconds: 5
