# =============================================================================
# CILIUM HUBBLE NETWORK POLICIES
# =============================================================================

# =============================================================================
# ACME SOLVER (cert-manager HTTP-01 challenge)
# =============================================================================

---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-acme-solver
  namespace: {{ .Values.namespace }}
spec:
  podSelector:
    matchLabels:
      app-key: acme-solver-traefik-master
      app-env: prod
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.traefik.namespace }}
          podSelector:
            matchLabels:
              app-key: traefik
              app-env: prod
      ports:
        - protocol: TCP
          port: 8089

# =============================================================================
# TRAEFIK EGRESS TO CILIUM (in traefik namespace)
# =============================================================================

---
apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: {{ .Values.namespace }}-allow-traefik
  namespace: {{ .Values.traefik.namespace }}
spec:
  podSelector:
    matchLabels:
      app-key: traefik
      app-env: prod
  policyTypes:
    - Egress
  egress:
    # Hubble-UI
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.namespace }}
          podSelector:
            matchLabels:
              k8s-app: hubble-ui
      ports:
        - protocol: TCP
          port: 8081
    # ACME solver in Cilium namespace
    - to:
        - namespaceSelector:
            matchLabels:
              kubernetes.io/metadata.name: {{ .Values.namespace }}
          podSelector:
            matchLabels:
              app-key: acme-solver-traefik-master
              app-env: prod
      ports:
        - protocol: TCP
          port: 8089
