# Redis configuration
namespace: ns-gitlab

image: redis/redis-stack-server:latest

# Credentials secret (from ESO)
credentialsSecretName: ""

# Resources
resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 1Gi
