# =============================================================================
# Update HAProxy config on current host and wait for reload
# =============================================================================
# Used with serial: 1 play for sequential execution across hosts
# =============================================================================

---
- name: Generate HAProxy config
  include_tasks: tasks/tasks-generate-haproxy-config.yaml

- name: Wait for HAProxy
  include_tasks: tasks/tasks-haproxy-health-wait.yaml
