apiVersion: ingress.v1.haproxy.org/v1
kind: TCP
metadata:
  name: ingress-gitlab-ssh-tcp
  namespace: ns-gitlab
  annotations:
    ingress.class: "haproxy-master-lb"
spec:
  - name: tcp-gitlab-ssh
    frontend:
      name: fe-tcp-gitlab-ssh
      binds:
        - port: 3714
    service:
      name: svc-gitlab
      port: 22
---
apiVersion: v1
kind: Service
metadata:
  name: svc-tcp-gitlab-ssh
  namespace: ns-haproxy-master
spec:
  type: NodePort
  externalTrafficPolicy: Local
  selector:
    app-key: haproxy
    app-env: prod
  ports:
    - name: tcp
      port: 3714
      targetPort: 3714
      nodePort: 3714 # Доступно на ВСЕХ Node в Cluster
