# =============================================================================
# TRAEFIK MIDDLEWARES
# =============================================================================

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: vpn-only
  namespace: {{ .Values.namespace }}
spec:
  ipAllowList:
    sourceRange:
      {{- range .Values.vpnIps }}
      - "{{ . }}"
      {{- end }}

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: http-to-https
  namespace: {{ .Values.namespace }}
spec:
  redirectRegex:
    regex: "^http://(.+)"
    replacement: "https://${1}"
    permanent: true

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: http-www-to-https
  namespace: {{ .Values.namespace }}
spec:
  redirectRegex:
    regex: "^http://www.(.+)"
    replacement: "https://${1}"
    permanent: true

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: http-www-to-http
  namespace: {{ .Values.namespace }}
spec:
  redirectRegex:
    regex: "^http://www.(.+)"
    replacement: "http://${1}"
    permanent: true

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: https-www-to-https
  namespace: {{ .Values.namespace }}
spec:
  redirectRegex:
    regex: "^https://www.(.+)"
    replacement: "https://${1}"
    permanent: true

---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: all-to-https
  namespace: {{ .Values.namespace }}
spec:
  redirectRegex:
    regex: "(^https://www.|^http://www.|^http://)(.+)"
    replacement: "https://${2}"
    permanent: true

