fullnameOverride: "haproxy-master"
controller:
  kind: DaemonSet
  ingressClassResource:
    name: haproxy-master-lb
  ingressClass: haproxy-master-lb
  defaultTLSSecret:
    enabled: false
  logging:
    level: info
    traffic:
      address: stdout
      format: raw
      facility: daemon
  service:
    enabled: true
    type: ClusterIP
    enablePorts:
      http: false
      https: false
      quic: false
serviceAccount:
  create: true