---
# =============================================================================
# Set hostname on server
# =============================================================================
# Usage:
#   ansible-playbook -i hosts.yaml playbooks/set-hostname.yaml --limit k8s-worker-1
# =============================================================================

- name: Set hostname on server
  hosts: all
  become: true
  gather_facts: false

  tasks:
    - name: "[pre-check] Validate target"
      include_tasks: tasks/tasks-pre-check-limit.yaml

    - name: Check current hostname
      command: hostname
      register: current_hostname_result
      changed_when: false

    - name: Set hostname
      command: hostnamectl set-hostname {{ new_hostname }}
      when: current_hostname_result.stdout != new_hostname
      register: hostname_change_result

    - name: Show result
      command: hostnamectl
      register: hostname_result
      changed_when: false

    - name: Print hostname info
      debug:
        msg: "{{ hostname_result.stdout_lines }}"

    - name: Reboot servers
      reboot:
        reboot_timeout: 300
        msg: "Rebooting"
      when: hostname_change_result is defined and hostname_change_result.changed
