# =============================================================================
# SERVICE ACCOUNT FOR TRAEFIK ESO AUTHENTICATION
# =============================================================================

apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.eso.saName }}
  namespace: {{ .Values.namespace }}
